<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ccq.app">

    <!-- Required -->
    <permission
        android:name="com.ccq.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.ccq.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".base.CcqApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_128"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">


        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.city.ProvinceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.publish.BaseMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.publish.BrandModelSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.UserSubscribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.SingleChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.EditMyIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.EditPublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.SetWechatQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.OpenVipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reprot.ReportCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImageWatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TencentMapActivity" />
        <activity android:name=".ui.user.introduce.EditUserImageActivity" />

        <meta-data android:name="TencentMapSDK" android:value="TWPBZ-AMZK3-7LZ3S-YFU2M-K2FYS-Z4FK2" />
    </application>

</manifest>